* {
    box-sizing: border-box
}

body {
    margin: 0;
    color: #222;
    background: #ffffff;
}

/* TITULOS CON FONDO TRASLUCIDO */
.titulo-transparente-fijo {
    background-color: rgba(172, 169, 169, 0.37);
    backdrop-filter: blur(6px);
    position: sticky;
    top: 70px;
    z-index: 1020; /* para estar encima del contenido */
}

/* NAV */
.brand-white {
    color: #ffffff;
    /* blanco */
}

.brand-vino {
    color: #f70000;
    /* vinotinto */
}

.btn:hover {
    transform: scale(1.15);
}

.navbar-brand {
    transition: all 0.2s ease-in-out;
}

/* hay que poner el important ya que se está usando  */
.navbar-brand:hover {
    transform: scale(1.2);
    animation: flash 1s;
}

.brand-vino:hover {
    color: #4aff2a !important;
}


/* HERO */


/* .hero h1,
.hero p {
    color: #ffffff;
} */
.hero-custom {
    background: linear-gradient(135deg, #1a1a1a, #646363, #000000);
    /* negro → gris oscuro */
    color: #ffffff;
    /* texto blanco para contraste */
}

/* CARDS */

.card {
    transition: all 0.25s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    /* background-color: #7e7e7e; */
    background: rgba(255, 255, 255, 0.15);
    color: #000000;
    box-shadow: 0 0 20px 5px rgba(120, 120, 120, 0.347);
}

.card-body {
    transition: all 0.25s ease-in-out;

    &:hover {
        transform: scale(1.05);
        background-color: #7e7e7e;
        color: #ffffff;
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
    }
}

/* FORMULARIO */
/* input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.15);
} */

/* Imágenes de tarjetas adaptables */
.card-img-top {
    object-fit: cover;
    height: 160px;
}

/* Footer */
footer a {
    text-decoration: none;
    color: inherit;
    opacity: .9;
}


:root {
    --primary: #0d6efd;
    --bg-hero: linear-gradient(135deg, rgba(13, 110, 253, 0.9), rgba(0, 123, 255, 0.8));
    --card-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}